@using SCNRWeb.Helper;
@model SCNRWeb.Models.NewsViewModel
@{
    ViewData["Title"] = Model.Record.Data.Title;
}

<div style="padding-top: 40px;">
    <div class="t-contain t-pos:cntr">
        <div class="columns t-pad:10px:lt:xs t-pad:10px:rt:xs t-pad:25pc:lt t-pad:25pc:rt ">
            <div class="t-grid:l:70pc ">
                <article>
                    <div class="article-header t-pad:33pc:bot">
                        @if (Model.Category != null)
                        {
                            <a href="/category/@Model.Category.UrlStub" class="cat u b t-pad:10px:rt t-txt:clr3 fnt:secondary fnt:bold">@Model.Category.DisplayName /</a>
                        }
                        <h1 class="t-pad:25pc:top t-fnt:1">@Model.Record.Data.Title</h1>
                        <h2 class="t-pad:10px:top t-txt:clr1 t-txt:h3">@Model.Record.Data.Description</h2>
                        <hr class="thick t-marg:15px:top " />
                        <div class="article-meta ">
                            <div class="t-txt:sm t-txt:u t-display:inline-block">Published: @Model.Record.PublishOnUTC.ToDateTime().FromUTCToEastern().ToString("MMMM d, yyyy")</div>
                            <div class="t-display:inline-block t-txt:sm t-txt:u ">&nbsp; | &nbsp; By <a href="/author/@Model.Record.Data.AuthorID" class="auth-link">@Model.Record.Data.Author</a></div>
                        </div>
                    </div>
                    <div class="article-container">
                        <div class="article-img t-img:cntr:m   t-marg:50pc:bot">
                            <img src="@cUrl.GeneratePartialImageUrl(Model.Record)" alt="@Model.Record.Data.Title" />
                            <div>
                            </div>
                            <div class=" t-txt:rt u"></div>
                        </div>
                        <div class="article-content t-pad:50pc:top">
                            @Html.Raw(Model.FixedRecordBody)
                            <div class='code-block code-block-1' style='margin: 8px 0; clear: both;'>
                                <i>*For corrections please email corrections@scnr.com*</i>
                            </div>

                            <div class="minds-comments"
                                 data-href="@cUrl.GenerateFullArticleUrl(Model.Record)"
                                 data-owner-guid="1591172494029492227"></div>


                            @if (Model.NextRecord != null)
                            {
                                <div class="next-article t-flex:s:valign:topm t-pad:50pc:bot">
                                    <div class="next-txt colon-red t-txt:h4 t-pad:10px:bot t-pad:10px:rt t-fnt:1">Next<span></span></div>
                                    <div class="">
                                        <div class="article ">
                                            <div class="article-block ">
                                                <a href="@cUrl.GeneratePartialArticleUrl(Model.NextRecord)" class="image">
                                                    <img src="@cUrl.GeneratePartialImageUrl(Model.NextRecord)" alt="@Model.NextRecord.Title" />
                                                </a>
                                                <div class="meta t-pad:15px:top t-pad:50pc:bot">
                                                    <div class="props">
                                                        <a href="/category/@Model.Category.UrlStub" class="cat u b t-marg:5px:bot t-fnt:bold t-txt:u t-txt:xsm ">@Model.Category.DisplayName</a>
                                                    </div>
                                                    <a href="@cUrl.GeneratePartialArticleUrl(Model.NextRecord)">
                                                        <div class="summary">
                                                            <h2 class=" t-txt:grey3 t-txt:h4">@Model.NextRecord.Title</h2>
                                                            <div class="t-txt:xs t-txt:grey1 t-fnt:1 t-pad:5px:top">
                                                                @Model.NextRecord.PublishOnUTC.ToDateTime().FromUTCToEastern().ToString("MM.d.yy")
                                                                <span class=" auth">  | @Model.NextRecord.Author</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="no-size no-marg" />
                                </div>
                            }
                        </div><!-- End Article Content -->
                    </div><!-- End Article Container -->
                </article>
            </div><!-- End Column -->
            <div class="t-grid:l:30pc t-pad:0px:lt:xs t-pad:0px:top:xs t-pad:0px:top:m t-pad:50pc:top:l t-pad:lt:l  t-pad:50pc:top:xl">
                <div class="t-hide:under:s side-rail ">
                    <span class="pretty-header t-marg:5px:bot t-display:inline-block"><h3>Popular</h3></span>
                    <hr class="thick t-marg:15px:top " />
                    <div class="popular t-marg:25pc:top t-pad:50pc:rt:l article-links">
                        @await Component.InvokeAsync("PopularNews")
                    </div>
                </div>
                <div style="width:300px;height:250px;">
                    <script id="nrp-53" type="text/javascript" class="" style="">
                        (function (node) {
                            var nrp = document.createElement("script");
                            nrp.type = "text/javascript", nrp.async = true, nrp.src = "//a.ads.rmbl.ws/warp/53?r=" + Math.floor(Math.random() * 99999) + "";
                            node.appendChild(nrp);
                        })(document.getElementsByTagName("script")[document.getElementsByTagName("script").length - 1].parentNode)
                    </script>
                </div>
            </div>
        </div><!-- End Columns -->
    </div>
</div>

@section head {
    <meta property="og:url" content="@cUrl.GenerateFullArticleUrl(Model.Record)" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.Record.Data.Title" />
    <meta property="og:description" content="@Model.Record.Data.Description" />
    <meta property="og:image" content="@cUrl.GenerateFullImageUrl(Model.Record)" />
    <meta property="og:site_name" content="SCNR" />
    <meta property="og:locale" content="en_US" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@@scnrnews" />
    <meta name="twitter:title" content="@Model.Record.Data.Title" />
    <meta name="twitter:description" content="@Model.Record.Data.Description" />
    <meta name="twitter:image" content="@cUrl.GenerateFullImageUrl(Model.Record)" />

    <script type="application/ld+json">
        {
          "@@context": "https://schema.org",
          "@@type": "NewsArticle",
          "headline": "@Model.Record.Data.Title",
          "image": [
            "@cUrl.GenerateFullImageUrl(Model.Record)"
           ],
          "datePublished": "@Html.Raw(Model.Record.PublishOnUTC.ToDateTimeOffset().ToString("yyyy-MM-ddThh:mm:ssK"))",
          "dateModified": "@Html.Raw(Model.Record.ModifiedOnUTC.ToDateTimeOffset().ToString("yyyy-MM-ddThh:mm:ssK"))",
          "author": [{
              "@@type": "Person",
              "name": "@Model.Record.Data.Author",
              "url": "https://scnr.com/author/@Model.Record.Data.AuthorID"
            }]
        }
    </script>
}

@section Scripts
{
    <script async defer crossorigin="anonymous" src="https://network.scnr.com/plugins/embedded-comments/js/embed.js"></script>
}
