@{
    var data = ViewData["Breadcrumb"] as BreadcrumbViewModel;
}

@if (data != null)
{
    <!-- Breadcrumbs-->
    <section class="breadcrumbs-custom bg-image bg-image-dark">
        <div class="container">
            <h1 class="breadcrumbs-custom__title">@data.Title</h1>
            <ul class="breadcrumbs-custom__path">
                @foreach (var path in data.Paths)
                {
                    <li @Html.Raw(path.Active ? "class=\"active\"":"")>
                        @if (string.IsNullOrWhiteSpace(path.Link))
                        {
                            @path.Label
                        }
                        else
                        {
                            <a href="@path.Link">@path.Label</a>
                        }
                    </li>
                }
            </ul>
        </div>
    </section>
}
