@model SCNRWeb.Models.PageNumViewModel;

@if (Model != null && Model.TotalPageNum > 1)
{
    <div class="index-nav">
        @if (Model.CurrentPageNum > 1)
        {
            <span class="pag-action prev"><a href="@Model.UrlBase@(Model.CurrentPageNum - 1)">Prev</a></span>
        }
        <span class="pgnums">
            @for (int i = Model.StartPageNum; i <= Model.EndPageNum; i++)
            {
                <span class="pgnum"><a href="@Model.UrlBase@i" @Html.Raw(i == Model.CurrentPageNum ? "class=\"active\"" : "")>@i</a></span>
            }
        </span>
        @if (Model.CurrentPageNum < Model.TotalPageNum)
        {
            <span class="pag-action next"><a href="@Model.UrlBase@(Model.CurrentPageNum + 1)">Next</a></span>
        }
    </div>
}
