@using SCNRWeb.Helper
@model ON.Fragments.Content.ContentListRecord
@inject SCNRWeb.Services.SettingsService settingsService;
@inject SCNRWeb.Services.UserService userService;

@{
    ON.Fragments.Settings.CategoryRecord cat = await settingsService.GetCategoryById(Model.CategoryIds.FirstOrDefault() ?? "");
}

<div class="article ">
    <div class="article-block ">
        <a href="@cUrl.GeneratePartialArticleUrl(Model)" class="image">
            <img src="@cUrl.GeneratePartialImageUrl(Model)" alt="@Model.Title" />
        </a>
        <div class="meta t-pad:15px:top t-pad:50pc:bot">
            <div class="props">
                @if (cat != null)
                {
                    <a href="/category/@cat.UrlStub" class="cat u b t-marg:5px:bot t-fnt:bold t-txt:u t-txt:xsm ">@cat.DisplayName</a>
                }
            </div>
            <a href="@cUrl.GeneratePartialArticleUrl(Model)">
                <div class="summary">
                    <h2 class=" t-txt:grey3 t-txt:h4" style="color: #ffffff;">@Model.Title</h2>
                    <p class="t-txt:grey4 t-txt:sm " style="color: #ffffff;">
                        @Model.Description.TruncatePretty(100)
                    </p>
                    <div class="t-txt:xs t-txt:grey1 t-fnt:1 t-pad:5px:top">
                        @Model.PublishOnUTC.ToDateTime().ToLocalTime().ToString("MM.d.yy")
                        <span class=" auth">  | @Model.Author</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
