@model SubverseWeb.Models.PageNumViewModel;

@if (Model != null && Model.TotalPageNum > 1)
{
    <!-- Pagination-->
    <ul class="pagination-custom">
        @if (Model.CurrentPageNum > 1)
        {
            <li class="pagination-control"><a href="@Model.UrlBase@(Model.CurrentPageNum - 1)">Prev</a></li>
        }
        @for (int i = Model.StartPageNum; i <= Model.EndPageNum; i++)
        {
            <li @Html.Raw(i == Model.CurrentPageNum ? "class=\"active\"" : "")><a href="@Model.UrlBase@i">@i</a></li>
        }
        @if (Model.CurrentPageNum < Model.TotalPageNum)
        {
            <li class="pagination-control"><a href="@Model.UrlBase@(Model.CurrentPageNum + 1)">Next</a></li>
        }
    </ul>
}