@using SCNRWeb.Services;
@using SCNRWeb.Models;
@model LeftNavModel
@inject SettingsService settingsService;
@{
    var channels = (await settingsService.GetChannels()).Where(c => c.ImageAssetId != "");
}

<div class="t-nav-mobile t-bg:blk">
    <div class="t-nav-scroller">
        <div class="t-pad:20px:rt t-pad:20px:lt">
            <ul class="t-menu t-marg:0px t-pad:15px:top t-pad:5px:bot  t-pad:0px:lt t-txt:lt txt-light">
                <li class="menu-item menu-item-type-custom menu-item-object-custom @(Model.IsHome ? "active" : "")"><a href="/">Home</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom @(Model.IsAbout ? "active" : "")"><a href="/about-us/" aria-current="page">About</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom @(Model.IsWatch ? "active" : "")"><a href="/video/">Watch</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom @(Model.IsRead ? "active" : "")"><a href="/news/">Read</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://network.scnr.com/register" target="_blank">Join SCNR</a></li>
            </ul>
            <ul class="t-menu t-marg:0px t-pad:15px:top t-pad:5px:bot  t-pad:0px:lt t-txt:lt txt-light">
                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://play.google.com/store/apps/details?id=com.scnr.network&hl=en_US&gl=US" target="_blank"><img src="/img/icon.android.jpeg" alt="Download Android App" /></a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://apps.apple.com/us/app/scnr/id6479642313" target="_blank"><img src="/img/icon.ios.svg" alt="Download iOS App" /></a></li>
            </ul>
            <ul class=" t-marg:0px t-pad:15px:top t-pad:5px:bot  t-pad:0px:lt t-txt:lt txt-light">
                @foreach (var chan in await settingsService.GetChannels())
                {
                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/channel/@chan.UrlStub"><img src="@cUrl.GeneratePartialImageUrl(chan.ImageAssetId)" /></a></li>
                }
            </ul>
        </div>
    </div>
